<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microblog</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
    />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar__brand">
        <img class="navbar__logo" src="/static/logo.svg" alt="Logo" />Microblog
      </div>
      <ul class="navbar__navigation">
        <li class="navbar__navigation-item">
          <a href="#" class="navbar__link">Recent</a>
        </li>
        <li class="navbar__navigation-item">
          <a href="#" class="navbar__link">Calendar</a>
        </li>
      </ul>
    </header>
    <main class="main">
      <section>
        <h1>Add new entry</h1>
        <form class="form" action="{{ url_for('add_entry') }}" method="post">
          <p class="form__input">
            <label for="entry" class="form__label">Entry contents:</label>
            <textarea
              name="content"
              id="entry"
              class="form__textarea"
            ></textarea>
          </p>
          <button type="submit" class="form__submit">Add entry</button>
        </form>
      </section>
      <section>
        <h1>Recent posts</h1>
        <article class="entry">
          <div>
            <h2 class="entry__title">A bit of a chill day today</h2>
            <time class="entry__date" datetime="24-10-2019">/ Oct 24</time>
          </div>
          <p class="entry__content">
            今天我不能做太多的編程，但沒關係！現在的每一天都太棒了！
          </p>
        </article>
      </section>
    </main>
    <!-- 尾部 -->
    <footer class="footer">
      <div class="footer__content">
        <!-- 左邊的欄位 -->
        <section class="left">
          <a class="footer__item">Made by Jose Salvatierra</a>
          <a class="footer__item">Check out my other projects </a>
        </section>
        <!-- 右邊的欄位 -->
        <section class="right">
          <!-- 左行 -->
          <div class="footer__column">
            <a class="footer__item">Recent</a>
            <a class="footer__item">Calendar</a>
          </div>
          <!-- 右行 -->
          <div class="footer__column">
            <a class="footer__item" href="#">About</a>
            <a class="footer__item">How this was made</a>
          </div>
        </section>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script>
      var easyMDE = new EasyMDE({ element: document.getElementById("entry") });
    </script>
  </body>
</html>
